@import "./chart.css";

.hamburger:hover {
  color: gray;
}

.account-dropdown:hover {
  /*background: var(--hover);*/
  /*color: gray;*/
}

/*.dropdown-menu > *:hover{
      background: var(--hover) !important;
  }*/

.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: var(--hover);
  color: white;
}

.right-sidebar {
  /*z-index: 0;*/
  pointer-events: none;
}

.z-5 {
  /*z-index: 50;*/
  /*cursor: pointer;*/
}

.right-sidebar > * {
  transition: all 0.3s ease-in-out;
  transform: translateX(50%);
  color: black;
  pointer-events: auto;
  cursor: pointer;
  /*z-index: 10;*/
}

.right-sidebar > *:hover {
  transform: translateX(0);
  background: var(--hover);
  color: white !important;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

.right-sidebar > * span {
  color: transparent;
  /*display: none*/
  visibility: hidden;
  width: 100px;
}

/*.right-sidebar > * div{
      width: 100px;
      min-width: 100px;
      max-width: 100px;
      overflow-x: hidden;
  }*/

.right-sidebar > *:hover span {
  color: white;
  /*display: inline;*/
  visibility: visible;
}

/* .w-90 {
    width: 90%;
    transition: all 0.3s ease-in-out;
  } */

.w-5 {
  width: 10%;
  max-width: 200px;
  min-width: 150px;
}

.w-expanded {
  width: 200px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 400px) {
  .w-5 {
    width: 10%;
    max-width: 170px;
    min-width: 120px;
  }
}
