@import "./chart.css";

.hamburger:hover {
  color: gray;
}

.account-dropdown:hover {
}

.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: var(--hover);
  color: white;
}

.right-sidebar {
  pointer-events: none;
  /* transform: translateX(50%); */
  /* width: 150px; */
  transition: all 0.2s ease-in-out;
}

.right-sidebar.expanded {
  /* width: 100px; */
  background-color: var(--primary);
}

.right-sidebar.expanded > * {
  /* color: white !important; */
  transform: translateX(0%);
}

.right-sidebar.expanded * {
  color: white !important;
}

.right-sidebar > * {
  transition: all 0.3s ease-in-out;
  transform: translateX(100px);
  color: black;
  pointer-events: auto;
  cursor: pointer;
}

.right-sidebar.expanded > * > span {
  color: white !important;
  visibility: visible;
}

.right-sidebar > *:hover {
  transform: translateX(0);
  background: var(--hover);
  color: white !important;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

.right-sidebar > * span {
  color: transparent;

  visibility: hidden;
  width: 100px;
}

.right-sidebar > *:hover span {
  color: white;
  /*display: inline;*/
  visibility: visible;
}

.w-5 {
  width: 10%;
  max-width: 200px;
  min-width: 150px;
}

.w-expanded {
  width: 200px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 400px) {
  .w-5 {
    width: 10%;
    max-width: 170px;
    min-width: 120px;
  }
}
