@import "./config.css";

.bg-primary-dark {
  background: var(--primary);
}

.pointer {
  cursor: pointer;
}

.flex-grow {
  flex: 1;
}

.h-full {
  min-height: 100vh;
}

.fs-large {
  font-size: 2rem;
}

.fs-large-2 {
  font-size: 2.5rem;
}

.fs-7 {
  font-size: 0.8rem;
}

.mh-80-vh {
  max-height: 85vh;
}

.fs-1 {
  font-size: 2rem !important;
}

h1 {
}

.border-gray {
  border-color: rgb(100, 100, 100) !important;
  /*border-color: yellow !important;*/
  border-width: 3px !important;
}

@media (max-width: 400px) {
  .fs-large {
    font-size: 2rem;
  }

  .fs-3 {
    font-size: 1.1rem !important;
  }

  .fs-7 {
    font-size: 0.6rem;
  }
}

@media (min-width: 400px) and (max-width: 700px) {
  .fs-large {
    font-size: 2.5rem;
  }

  .fs-3 {
    font-size: 1.3rem !important;
  }

  .fs-7 {
    font-size: 0.7rem;
  }
}
